/* desktop first */

@media screen and (max-width: 878px) {
  .first-box-covers {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .download a {
    padding-top: 480px;
  }
  .flex-img {
    width: 150px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .img-box {
    width: 150px;
    height: 150px;
  }
  .size-strange {
    width: 150px;
  }
  .w-text {
    width: 150px;
  }

  .play-hover {
    width: 150px;
    height: 150px;
    background-size: 40px;
  }

  .menu-center ul {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 100px;
  }

  .menu-center li {
    margin-bottom: 20px;
  }

  h2 {
    padding-top: 40px;
  }

  .player {
    padding: 10px;
  }

  .save {
    padding-left: 50px;
  }

  .btn-player {
    padding: 0 20px 0 50px;
  }

  .audio-progress-bar {
    justify-content: center;
  }

  .progress-bar-gray {
    width: 250px;
    margin: 5px 20px;
  }
  .controls {
    width: 200px;
  }

  .control button {
    margin-right: 20px;
  }

  .small-bar.progress-bar-gray {
    width: 250px;
    margin: auto 0;
  }
}
