/* desktop first */

/* prima mediaquery medium */

@media screen and (max-width: 890px) {
  .first-box-covers {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .download a {
    padding-top: 480px;
  }
  .flex-img {
    width: 150px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .img-box {
    width: 150px;
    height: 150px;
  }
  .size-strange,
  .w-text {
    width: 150px;
  }

  .play-hover {
    width: 150px;
    height: 150px;
    background-size: 40px;
  }

  .menu-center ul {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 100px;
  }

  .menu-center li {
    margin-bottom: 20px;
  }

  h2 {
    padding-top: 40px;
  }

  .player {
    padding: 10px;
  }

  .save {
    padding-left: 50px;
  }

  .btn-player {
    padding: 0 20px 0 50px;
  }

  .audio-progress-bar {
    justify-content: center;
  }

  .progress-bar-gray {
    width: 250px;
    margin: 5px 20px;
  }
  .controls {
    width: 200px;
  }

  .control button {
    margin-right: 15px;
  }

  .small-bar.progress-bar-gray {
    width: 250px;
    margin: auto 0;
  }
}

/* / prima mediaquery medium */

/* seconda mediaquery small */

@media screen and (max-width: 700px) {
  .menu-center {
    height: 50px;
    margin-top: 90px;
    display: flex;
    justify-content: center;
  }

  .menu-center ul {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20px;
  }

  h2 {
    padding-left: 40px;
  }
  .menu-center li {
    margin-bottom: 20px;
    font-weight: 600;
  }

  .first-box-covers {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 20px;
    padding-top: 30px;
  }

  .flex-img {
    width: 150px;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .menu-center ul {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20px;
  }

  .menu-center li {
    margin-bottom: 20px;
    font-weight: 600;
  }

  .song-played {
    padding-top: 10px;
  }

  .save {
    padding-left: 15px;
  }

  .btn-player {
    padding: 0 30px 0 30px;
  }

  .btn-player button {
    font-size: 1rem;
  }

  .controls {
    padding: 10px 0px;
    padding-left: 30px;
    margin-top: 10px;
  }

  .control button {
    margin-right: 15px;
  }

  .audio-progress-bar {
    width: 200px;
    margin-left: 30px;
  }

  .small-bar.progress-bar-gray {
    width: 90px;
  }

  .small-bar .progress-bar-white {
    width: 40px;
  }
}

/* /seconda mediaquery small */

/* terza mediaquery extra-small */

@media screen and (max-width: 590px) {
  .big-logo {
    display: none;
  }

  .small-logo {
    display: block;
  }

  .menu-select a {
    padding-left: 10px;
  }
  .menu-icons {
    padding-top: 10px;
  }
  .img-icon {
    width: 40px;
    height: 40px;
  }

  .img-download {
    width: 45px;
    margin-left: 5px;
  }

  .img-profile {
    width: 40px;
    height: 40px;
  }
  .playlist {
    padding: 10px;
  }
  .menu-select h4 {
    display: none;
  }

  .download a {
    padding-top: 500px;
    border-bottom: none;
  }

  .playlist .title,
  .add,
  .name-playlist,
  .download a h6,
  .username {
    display: none;
  }

  .drop-down-menu {
    width: 60px;
    height: 95vh;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
  }

  header,
  .trasparent-bar {
    margin-left: 50px;
  }

  .btn {
    margin-right: 20px;
  }

  h2 {
    font-size: 1.4rem;
    margin-left: 10px;
  }

  .title-cover {
    font-size: 1rem;
  }

  .subtitle-cover {
    font-size: 0.8rem;
  }

  .first-box-covers {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 20px;
    padding-top: 30px;
  }

  .flex-img {
    margin-right: 5px;
    width: 200px;
    margin-bottom: 0;
  }

  .img-box,
  .play-hover {
    width: 180px;
    height: 180px;
  }

  .size-strange,
  .w-text {
    width: 180px;
  }

  .btn-player {
    padding: 0 10px 0 20px;
  }

  .btn-player button {
    padding-right: 7px;
  }

  .controls {
    padding: 10px 0px;
    margin-top: 10px;
  }

  .control button {
    margin-right: 10px;
  }

  .audio-progress-bar {
    width: 200px;
    margin-left: 35px;
  }

  .small-bar.progress-bar-gray {
    width: 90px;
  }

  .small-bar .progress-bar-white {
    width: 40px;
  }
}

@media screen and (max-width: 560px) {
  header {
    width: 100%;
  }

  .small-bar.progress-bar-gray {
    width: 50px;
  }
}
/* / terza mediaquery extra-small */
