/* generics */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body * {
  font-family: "Montserrat", sans-serif;
}

#container-nav a,
.menu-center li a {
  text-decoration: none;
  color: rgb(77, 77, 77);
  font-size: 0.8rem;
}
/* applico hover  */
#container-nav a:hover,
.menu-center li a:hover {
  color: white;
}

#container-nav a:hover i {
  background-color: white;
}

/* content */

.fullpage {
  max-width: 1440px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

/* LEFT NAVBAR */

.drop-down-menu {
  width: 220px;
  /* height: 90vh; */
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
}

.big-logo {
  width: 180px;
  height: 100px;
  padding: 20px 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.menu-icons {
  padding: 100px 0px 30px 20px;
}

.img-icon {
  width: 25px;
}

.playlist {
  padding-top: 15px;
}

.menu-select a {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.title {
  color: white;
  font-size: 0.8rem;
}

.add a {
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.add h4 {
  font-size: 1rem;
  padding-left: 10px;
}

.plus-icon {
  background-color: rgb(163, 163, 163);
  font-size: 1rem;
  padding: 5px 7px;
  color: rgb(20, 25, 34);
}

.menu-select h4 {
  padding-left: 10px;
}

h3 {
  color: white;
  font-size: 0.9rem;
}

.name-playlist a h5 {
  padding-top: 15px;
  font-size: 0.8rem;
}

.download a {
  padding-top: 180px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
  width: 80%;
}

.img-download {
  width: 15px;
  display: flex;
}

h6 {
  font-size: 0.7rem;
  margin-left: 10px;
}

.flex-name {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.img-profile {
  width: 25px;
  border-radius: 50%;
  padding: 2px 3px;
  background-color: gray;
}

.username {
  color: white;
  font-size: 0.8rem;
  padding-left: 10px;
}

/* / LEFT NAVBAR */

/* SEZIONE MAIN */

main {
  flex-grow: 1;
  overflow-y: auto;
}

/* SEZIONE HEADER */

header {
  width: 100%;
  margin-left: 220px;
  /* height: 100vh; */
  background-color: rgb(20, 25, 34);
}

/* SEZIONE TRASPARENT-BAR */

.trasparent-bar {
  height: 100px;
  margin-left: 220px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: end;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
}

.btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid white;
  color: white;
  padding: 8px 35px;
  margin-right: 25px;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;
  height: 40px;
}

/* applico hover a btn */
.btn:hover {
  transform: scale(1.1);
}

/* / SEZIONE TRASPARENT-BAR */

/* MENU CENTRALE */

.menu-center {
  height: 50px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 40px;
  right: 0;
  left: 220px;
  z-index: 15;
}

.menu-center ul {
  display: flex;
  list-style-type: none;
}

.menu-center li a {
  text-transform: uppercase;
  margin-right: 15px;
}

/* / MENU CENTRALE */

/* SEZIONE FIGURE */

#first-box {
  padding-top: 200px;
}

#second-box,
#third-box {
  padding-top: 50px;
}

.first-content-box {
  padding-top: 25px;
  display: flex;
  justify-content: space-evenly;
}

h2 {
  color: white;
  padding-left: 20px;
  font-weight: 700;
  font-size: 1.2rem;
}

.flex-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-box {
  width: 180px;
}

.title-box {
  padding-top: 20px;
}

.subtitle-box {
  color: rgb(77, 77, 77);
  padding-top: 10px;
  font-size: 0.7rem;
}

.w-180 {
  width: 180px;
  text-align: center;
}

.description {
  padding-left: 20px;
  padding-top: 10px;
  font-size: 0.7rem;
  font-weight: 700;
  color: rgb(77, 77, 77);
}

.second-content-box,
.third-content-box {
  padding-top: 25px;
  display: flex;
}

.row-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
}

.circle {
  border-radius: 50%;
}

.w-50 {
  width: 50%;
  text-align: center;
}

.bottom-space {
  padding-bottom: 200px;
}

/* / SEZIONE FIGURE */

/* / SEZIONE HEADER */

/* / SEZIONE MAIN */

/* SEZIONE FOOTER */

footer {
  height: 100px;
  background-color: rgb(40, 40, 40);
}

/* / SEZIONE FOOTER */

/* debug */

.debug.fullpage {
  background-color: red;
}

/* .debug.drop-down-menu {
  background-color: blue;
} */

.debug > footer {
  /* background-color: chartreuse; */
  z-index: 15;
}

.debug.trasparent-bar {
  background-color: rgba(0, 0, 0, 0.3);
}

/* .debug.menu-center {
  background-color: red;
  position: fixed;
  top: 0px;
  left: 220px;
  right: 0;
} */

/* .debug header {
  background-color: goldenrod;
} */
