/* generics */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body * {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

/* content */

.fullpage {
  max-width: 1440px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

/* LEFT NAVBAR */

.drop-down-menu {
  z-index: 10;
  width: 250px;
  height: 100vh;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.big-logo {
  width: 200px;
  height: 100px;
  padding: 20px 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.menu-icons {
  padding: 100px 0px 50px 20px;
}

.img-icon {
  width: 25px;
}

.playlist {
  padding-top: 15px;
}

.text-gray {
  color: rgb(77, 77, 77);
  font-size: 0.8rem;
}

.menu-select a {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
  padding-bottom: 10px;
  color: rgb(77, 77, 77);
}

.menu-select a:hover {
  color: white;
}

.title {
  color: white;
}

.add a {
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.add h4 {
  font-size: 1.1rem;
}

.add a h4:hover {
  color: white;
}

.add a i:hover {
  background-color: white;
}

.plus-icon {
  background-color: rgb(163, 163, 163);
  font-size: 1.5rem;
  padding: 4px 6px;
  color: rgb(20, 25, 34);
}

.menu-select h4 {
  padding-left: 10px;
}

h3 {
  color: white;
  font-size: 0.9rem;
}

h4 {
  padding-left: 20px;
}

.new-playlist a h5 {
  padding-top: 20px;
}

.new-playlist a h5:hover {
  color: white;
}

.download a {
  padding-top: 130px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
  width: 80%;
}

.img-download {
  width: 15px;
  display: flex;
}

h6 {
  color: gray;
  margin-left: 10px;
}

a h6:hover {
  color: white;
}

.flex {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.img-profile {
  width: 25px;
  border-radius: 50%;
  padding: 2px 3px;
  background-color: gray;
  /* margin-top: 20px; */
}

.username {
  color: white;
  font-size: 1rem;
  padding-left: 10px;
}

/* / LEFT NAVBAR */

/* SEZIONE MAIN */

main {
  flex-grow: 1;
  overflow-y: auto;
}

/* SEZIONE HEADER */

header {
  width: 100%;
  height: 100vh;
  background-color: rgb(20, 25, 34);
}

/* SEZIONE TRASPARENT-BAR */

.trasparent-bar {
  height: 100px;
  display: flex;
  justify-content: end;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid white;
  color: white;
  padding: 8px 35px;
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;
  height: 40px;
}

/* / SEZIONE TRASPARENT-BAR */

/* SEZIONE FIGURE */

/* / SEZIONE FIGURE */

/* / SEZIONE HEADER */

/* / SEZIONE MAIN */

/* SEZIONE FOOTER */

footer {
  height: 100px;
  background-color: rgb(40, 40, 40);
}

/* / SEZIONE FOOTER */

/* debug */

.debug.fullpage {
  background-color: red;
}

/* .debug.drop-down-menu {
  background-color: blue;
} */

.debug > footer {
  /* background-color: chartreuse; */
  z-index: 15;
}

.debug.trasparent-bar {
  background-color: rgba(0, 0, 0, 0.5);
}

/* .debug header {
  background-color: goldenrod;
} */
